doctype html
head
  style.
    h1 {
      text-align: center;
      }
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {
    background-color: #dddddd;
    }
    
  title List Medicines
  body
    h1  List Medicines
    table.table.table-striped
      tr
        th Name
        th Provider
        th Manufaturer
        th Price
        th Id
        th Id Link
      each n in medList
        tr
          td= n.medicineName
          td= n.medicineProvider
          td= n.medicineManufacturer
          td= n.medicinePrice
          td= n._id
          td
            a(href="/medicines/medicinePage") #{n.medicineName}
            